@font-face {
  font-family: Vazirmatn;
  src: url("/debug-duck/fonts/Vazirmatn-Bold.ttf") format("truetype"),
    url("/debug-duck/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: Vazirmatn;
  src: url("/debug-duck/fonts/Vazirmatn-Regular.ttf") format("truetype"),
    url("/debug-duck/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }
}
